<div class="box box-collection mb-15px" id="js-collection-box">
  <!-- BOX HEADER -->
  <div class="box-header">
    <h2 class="heading heading-secondary text-center">ƯU ĐÃI DÀNH CHO BẠN</h2>
    <ul class="list-style-none d-flex align-items-center justify-content-between">
      <li class="js-collection-button cat-active" data-id="1" data-url="/collection/gia-shock">
        <p class="font-weight-bold">Giá Shock Trong Ngày</p>

        <span>Cập nhật liên tục</span>
      </li>
      <li class="js-collection-button" data-id="2" data-url="/collection/top-pc-cuc-khung">
        <p class="font-weight-bold">SIÊU SALE TRONG THÁNG</p>

        <span>Xem ngay kẻo lỡ</span>
      </li>
      <li class="js-collection-button" data-id="3" data-url="/collection/giai-nhiet-pc">
        <p class="font-weight-bold">top pc bán chạy</p>

        <span>Giá ưu đãi nhất</span>
      </li>
      <li class="js-collection-button" data-id="4" data-url="/collection/man-hinh-do-hoa">
        <p class="font-weight-bold">Màn hình đồ họa</p>

        <span>Nhiều ưu đãi hấp dẫn</span>
      </li>
      <li class="js-collection-button" data-id="5" data-url="/collection/goc-thanh-ly">
        <p class="font-weight-bold">Góc thanh lý</p>

        <span>Xả hàng tồn kho</span>
      </li>
    </ul>
  </div>
  <!-- BOX CONTENT -->
  <div class="box-content">
    <div class="homepage-collection-swiper">


      <!-- SWIPER WRAPPER -->
      <div class="grid grid--6-cols" id="js-collection-product">
        <div class="swiper-slide min-width-0">
          <div class="product p-item" data-id="5547" data-type="product">
            <a href="/mainboard-msi-b760-gaming-plus-wifi-ddr5/" class="p-img">
              <img src="/media/product/250-5547-1.jpg" alt="Mainboard MSI B760 GAMING PLUS WIFI (DDR5)">

            </a>
            <div class="p-content">
              <a href="/mainboard-msi-b760-gaming-plus-wifi-ddr5/">
                <h3 class="p-name line-clamp-2">Mainboard MSI B760 GAMING PLUS WIFI (DDR5)</h3>
              </a>
              <p class="p-price color-secondary font-weight-bold text-20">
                4.650.000 ₫
              </p>

              <span class="p-market-price">5.178.000 ₫</span>

              <span class="color-secondary" style="margin-left: 4px;">-10%</span>


              <div class="p-box d-flex align-items-center justify-content-between">
                <div class="wrapper">
                  <p class="color-green">✓ Còn hàng</p>

                  <a href="javascript:;" class="p-compare color-primary"
                    onclick="compare_addProduct(5547, '/media/product/250-5547-1.jpg', this, 'Mainboard MSI B760 GAMING PLUS WIFI (DDR5)')"
                    data-id="5547">
                    <span>+</span>
                    So sánh
                  </a>
                </div>


                <a href="javascript:;" class="btn-cart-sp d-flex align-items-center justify-content-center"
                  onclick="cartButton(5547)">
                  <i class="static-icon static-icon-cart"></i>
                </a>

              </div>
            </div>

            <div class="tooltip p-tooltip tippy-box">
              <div class="tooltip-name">
                <p class="line-clamp-2">
                  Mainboard MSI B760 GAMING PLUS WIFI (DDR5)
                </p>
              </div>

              <div class="tooltip-descreption">
                <div class="tooltip-descreption-price white-space-0">
                  <p>Giá niêm yết</p>
                  <p>Giá bán</p>
                  <p>Bảo hành</p>
                  <p>Tình trạng</p>
                </div>

                <div class="tooltip-descreption-info">
                  <div>

                    <div class="d-flex align-items-center">
                      <p class="card-price-origin color-black" style="position: relative;">5.178.000₫
                        <span class="card-price-origin-line-through"></span>
                      </p>
                      <span class="color-red" style="margin-left: 4px;">-10%</span>
                    </div>

                  </div>
                  <p>
                    4.650.000₫
                  </p>
                  <p>
                    <span class="color-black line-clamp">36 Tháng Chính Hãng.</span>
                  </p>
                  <p class="color-secondary">Còn hàng
                  </p>
                </div>
              </div>

              <div class="tooltip-input">
                <i class="fa fa-database icon-database"></i>
                <span>Thông số sản phẩm</span>
              </div>
              <div class="tooltip-list">
                <ul>
                  <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Model:&nbsp;B760 GAMING
                      PLUS WIFI</span></p>
                  <p><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Socket: LGA 1700</span>
                  </p>
                  <p><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Hỗ trợ CPU: Intel
                      12th,13th</span></p>
                  <p><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Hỗ trợ Ram:&nbsp;4x DDR5
                      (192GB)</span></p>
                  <p><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Kích thước: ATX</span>
                  </p>
                </ul>
              </div>


            </div>
          </div>
        </div>

        <div class="swiper-slide min-width-0">
          <div class="product p-item" data-id="9121" data-type="product">
            <a href="/laptop-hp-victus-gaming-15-fb2063dx/" class="p-img">
              <img src="/media/product/250-9121-laptop-hp-victus-gaming-15-fb2063dx-01.jpg"
                alt="Laptop HP Victus Gaming 15 FB2063DX (AMD RYZEN 5 7535HS/ 8GB/ 512GB/ RX 6550M/ 15.6 Full HD/IPS/144Hz/ NewSeal)">

              <div class="p-sale-off">
                <p class="font-weight-500 text-uppercase">
                  Tiết kiệm
                  <span class="d-block text-12 font-weight-bold color-white">1,140,000 ₫</span>
                </p>
              </div>

            </a>
            <div class="p-content">
              <a href="/laptop-hp-victus-gaming-15-fb2063dx/">
                <h3 class="p-name line-clamp-2">Laptop HP Victus Gaming 15 FB2063DX (AMD RYZEN 5 7535HS/ 8GB/ 512GB/ RX
                  6550M/ 15.6 Full HD/IPS/144Hz/ NewSeal)</h3>
              </a>
              <p class="p-price color-secondary font-weight-bold text-20">
                14.200.000 ₫
              </p>

              <span class="p-market-price">15.340.000 ₫</span>

              <span class="color-secondary" style="margin-left: 4px;">-7%</span>


              <div class="p-box d-flex align-items-center justify-content-between">
                <div class="wrapper">
                  <p class="color-red">✓ Liên hệ</p>

                  <a href="javascript:;" class="p-compare color-primary"
                    onclick="compare_addProduct(9121, '/media/product/250-9121-laptop-hp-victus-gaming-15-fb2063dx-01.jpg', this, 'Laptop HP Victus Gaming 15 FB2063DX (AMD RYZEN 5 7535HS/ 8GB/ 512GB/ RX 6550M/ 15.6 Full HD/IPS/144Hz/ NewSeal)')"
                    data-id="9121">
                    <span>+</span>
                    So sánh
                  </a>
                </div>


              </div>
            </div>

            <!-- BOX BOTTOM -->
            <div class="box-bottom">
              <a href="/collection/gia-shock" class="font-weight-500 color-white btn-view-more"
                id="js-collection-path">XEM TẤT CẢ
                +</a>
            </div>
          </div>