.title-compare {
    background-color: #1A73E8;
}

.global-compare-group {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    background-color: #e2e0e0;
    z-index: 999;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
}

.js-compare-item {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}